/Ej01_Fauna_Animal/nbproject/private/
/Ej01_Fauna_Animal/build/
/Ej02_Casa_Electrodomesticos/nbproject/private/
/Ej02_Casa_Electrodomesticos/build/
/Ej03_Casa_Electrodomesticos_2/nbproject/private/
/Ej03_Casa_Electrodomesticos_2/build/
/Ej04_Calculo_Formas_Geometricas/nbproject/private/
/Ej04_Calculo_Formas_Geometricas/build/
/Extras_Ej1_Puerto/nbproject/private/
/entidades/nbproject/private/
/Extras_Ej1_Puerto/build/
/Extra_Ej2_Edificaciones/nbproject/private/
/Extras_Ej2_Edificaciones/nbproject/private/
/Extras_Ej2_Edificaciones/build/
/Extras_Ej3_Agencia_Turismo/nbproject/private/
/Extras_Ej01_Puerto/nbproject/private/
/Extras_Ej02_Edificaciones/nbproject/private/
/Extras_Ej03_Agencia_Turismo/nbproject/private/